.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1440px;
    height: 72px;
}

.logo {
    color: #101828;
    margin-left: 64px;
    margin-right: 450px;
    font-family: "Inter", sans-serif;
    font-size: larger;
    font-weight: 900;
    text-align: center;
}

.spanLogo {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #475467;
    font-weight: 900;
}

.LinkBtn {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #101828;
    margin-left: 32px;
}

.LinkBtn:hover {
    color: #e44848;
}

.LinkBtn:focus {
    color: #e44848;
}